/projects/jphonelite/classes/
/classes/
/projects/jphonelite/javaforce.jar
/projects/jphonelite/jphonelite.jar
/jars/javaforce.jar
/projects/jphonelite/bouncycastle.jar
/native/
/nbproject/private/
/projects/jphonelite/nbproject/private/